//@import "~bootstrap/scss/bootstrap";

$tsb-themes:('light','dark') !default;
$tsb-size:24px !default;
$tsb-width:$tsb-size !default;
$tsb-border:('light':#DEE2E6,'dark':#454D55) !default;
$tsb-bg:('light':#F2F2F2,'dark':#343A40) !default;
$tsb-bg-arrow:('light':silver,'dark':#27292B) !default;
$tsb-bg-pos:('light':silver,'dark':#27292B) !default;

@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

@each $theme in $tsb-themes{
    .table-scroll-bar-#{$theme}{
        @include noselect();

        box-sizing: border-box;
        width: $tsb-width;
        background-color: map-get($tsb-bg,#{$theme});
        border: 1px solid map-get($tsb-border,#{$theme}); 
        
    .table-scroll-bar-up, .table-scroll-bar-down{
            background-color: map-get($tsb-bg-arrow,#{$theme});
            min-height: $tsb-size;    
        }
        .table-scroll-bar-up{
            border-bottom:1px solid map-get($tsb-border,'#{$theme}');
        }
        .table-scroll-bar-down{
            border-top:1px solid map-get($tsb-border,'#{$theme}');
        }

        .table-scroll-bar-pos-frame{
            .table-scroll-bar-pos{
                background-color:map-get($tsb-bg-pos,'#{$theme}');
                text-align: center;
            }
        }
    }
}
.table-scroll-bar-animate{
    animation-name:table-scroll-bar-hide;
	animation-duration:5s;
	-webkit-animation-name:table-scroll-bar-hide;
	-webkit-animation-duration:5s;
    opacity:0;
    &:hover{
        opacity:1;
        animation-name:table-scroll-bar-show;
        animation-duration:0s;
        animation-iteration-count:infinite;
        animation-direction:normal;
        /* Safari and Chrome: */
        -webkit-animation-name:table-scroll-bar-show;
        -webkit-animation-duration:0s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-direction:alternate;
    }
}

@keyframes table-scroll-bar-show
{
    from {opacity:1;}
    to   {opacity:1;}
}
@-webkit-keyframes table-scroll-bar-show /* Safari and Chrome */
{
    from {opacity:1}
    to   {opacity:1}
}
@keyframes table-scroll-bar-hide
{
    from {opacity:1}
    to   {opacity:0}
}
@-webkit-keyframes table-scroll-bar-hide /* Safari and Chrome */
{
    from {opacity:1}
    to   {opacity:0}
}