//@import "~bootstrap/scss/bootstrap";

$table-themes:('light','dark') !default;
$tab-bg:('light':#F2F2F2,'dark':#000000) !default;
$tab-bg-header:('light':#d8d8d8,'dark':#2d2d2d) !default;


$tsb-size:16px !default;
$tsb-width:$tsb-size !default;
$tsb-border:('light':#DEE2E6,'dark':#454D55) !default;
$tsb-bg:('light':#F2F2F2,'dark':#343A40) !default;
$tsb-bg-arrow:('light':silver,'dark':#27292B) !default;
$tsb-bg-pos:('light':rgb(161, 161, 161),'dark':#27292B) !default;
$tsb-bg-pos-hover:('light':rgb(161, 161, 161),'dark':#4a535c) !default;

@mixin noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}



@each $theme in $table-themes{
    
    .frame-table-#{$theme}{
        .table{
            background-color: map-get($tab-bg,#{$theme});
            .table-grid{
                .table-row{
                    //border-bottom:1px dashed gray;
                    background-color: map-get($tab-bg,#{$theme});
                    &:hover{
                        background-color: #303030 !important;
                        color:silver;
                    }
                    //&:nth-child(2n){
                    //    background-color: #1b1b1b;;
                    //}
                    .ReactVirtualized__Table__rowColumn{
                        &:nth-child(1){
                            color:rgb(139, 0, 0);
                            //font-size: 0.8em;
                        }   
                        &:nth-child(2){
                            
                            font-size: 0.9em;
                        }   
                    }
                }
                .table-row-2{
                        background-color: #1a1a1a;
                }
            }
            .table-row{
                background-color: map-get($tab-bg-header,#{$theme});
                .table-header{
                    color:green;
                }
            }
        }
        
        .table-scroll-bar{
            @include noselect();
    
            box-sizing: border-box;
            width: $tsb-width;
            background-color: map-get($tsb-bg,#{$theme});
            border: 1px solid map-get($tsb-border,#{$theme}); 
            font-size: 8px;
            text-align: center;
        
        .table-scroll-bar-up, .table-scroll-bar-down{
                background-color: map-get($tsb-bg-arrow,#{$theme});
                min-height: $tsb-size;    
            }
            .table-scroll-bar-up{
                border-bottom:1px solid map-get($tsb-border,'#{$theme}');
                &:before {
                    content:'\25B2'
                }
            }
            .table-scroll-bar-down{
                border-top:1px solid map-get($tsb-border,'#{$theme}');
                &:before {
                    content:'\25BC'
                }
            }
    
            .table-scroll-bar-pos-frame{
                .table-scroll-bar-pos{
                    background-color:map-get($tsb-bg-pos,'#{$theme}');
                    text-align: center;
                    &:hover{
                        background-color:map-get($tsb-bg-pos-hover,'#{$theme}');    
                    }
                }
            }
        }
        div{
            &::-webkit-scrollbar{
                //width: $tsb-size;
                height: $tsb-size;
                background-color: map-get($tsb-bg,#{$theme});
                cursor:	pointer;
            }
            &::-webkit-scrollbar-button{
                width: $tsb-size+2;
                height: $tsb-size;
                background-color: map-get($tsb-bg-arrow,#{$theme});
                border-left:1px solid map-get($tsb-border,'#{$theme}');
                border-right:1px solid map-get($tsb-border,'#{$theme}');
                cursor:	pointer;
            }

            &::-webkit-scrollbar-track{
                background-color: map-get($tsb-bg,#{$theme});
                border-right:1px solid map-get($tsb-bg,#{$theme});
                cursor:	pointer;
            }
            
            &::-webkit-scrollbar-thumb{
                background-color:map-get($tsb-bg-pos,'#{$theme}');
                border:1px solid map-get($tsb-bg-pos,'#{$theme}');
                cursor:	pointer;
                &:hover{
                    background-color:map-get($tsb-bg-pos-hover,'#{$theme}');
                    border:1px solid map-get($tsb-bg-pos-hover,'#{$theme}');
                    cursor:	pointer;
                }
            }
            
        }
    }

}





