@mixin noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
}
.table-scroll-bar{
    box-sizing: content-box;
    background-color: #343A40;
    @include noselect();
    .table-scroll-bar-up, .table-scroll-bar-down{
        text-align: center;
        border:1px solid gray;       
    }
    .table-scroll-bar-pos-frame{
        border: 1px solid gray;

        .table-scroll-bar-pos{
            text-align: center;
            background-color: black;
            height: 20px;
        }
    }
}