$first :#050555;
$second: #103010;
@mixin box() {
    box-sizing: content-box !important;
};
.table-head-fixed{
    @include box();
    table-layout: fixed;
    height: 100%;
    width:100%;
    thead{
        position: sticky;
        width: 100%; 
        tr{
            width: 100%;
        }
    }
    tbody{
        display: block;
        //overflow-y: hidden;
        overflow-x: hidden;
        width: 100vw; 
        tr{
            &:nth-child(2n){
                //background-color:#101010;
            }
            &:nth-child(10n){
                background-color:#151515;
            }
        
            &:first-childz{
                td{
                    &:nth-child(2n){
                        background-color:$first;
                    }
                    &:nth-child(2n+1){
                        background-color:$second;
                    }
                }
            }
        }
    }  
}